In [2]:
import pandas as pd
import numpy as np

In [6]:
d = {'col1': [1, 2], 'col2': [3, 4]}

In [11]:
df=pd.DataFrame(data=d ,dtype=np.int8)
df

   col1  col2
0     1     3
1     2     4

In [12]:
df.dtypes

col1    int8
col2    int8
dtype: object

In [13]:
df=pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [14]:
df.dtypes

col1    int64
col2    int64
dtype: object

## Constructing DataFrame from a dictionary including Series:

In [27]:
d = {'col1': [0,1, 2 ,3], 'col2': pd.Series([1,4,8] ,index=[1,3,4]) }
df=pd.DataFrame(data=d , index=[1,2,3,4])
df

   col1  col2
1     0   1.0
2     1   NaN
3     2   4.0
4     3   8.0

In [29]:
df.groupby(by='col2',dropna=False).sum()

      col1
col2
1.0      0
4.0      2
8.0      3
NaN      1

In [32]:
array=np.array([[1,2,3],[4,5,6],[7,8,9]])

pd.DataFrame(data=array,columns=['a','b','c']).shape

(3, 3)

In [33]:
data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
                dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
df3 = pd.DataFrame(data, columns=['c', 'a'])

df3

   c  a
0  3  1
1  6  4
2  9  7

In [34]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c       3 non-null      int32
 1   a       3 non-null      int32
dtypes: int32(2)
memory usage: 152.0 bytes

In [35]:
from dataclasses import make_dataclass
Point = make_dataclass("Point", [("x", int), ("y", int)])
pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])

   x  y
0  0  0
1  0  3
2  2  3

In [4]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [5]:
df.loc['cobra']

max_speed    1
shield       2
Name: cobra, dtype: int64

In [6]:
df.loc[['cobra','sidewinder']]

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [8]:
df.loc['cobra':'sidewinder','max_speed']

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64

In [ ]:
#Boolean list with the same length as the row axis

In [15]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [19]:
df.loc[pd.Series([False, False, True],index=['cobra', 'viper', 'sidewinder'])]

            max_speed  shield
sidewinder          7       8

In [20]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [21]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [29]:
df[df['shield'] > 6].index

Index(['sidewinder'], dtype='object')

In [23]:
df[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [44]:
df.loc[df['shield']>6 , ['max_speed']]

            max_speed
sidewinder          7

In [45]:
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [46]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [48]:
#Set value for all items matching the list of labels

df.loc[['viper','sidewinder'],['shield']]

            shield
viper            5
sidewinder       8

In [49]:

df.loc[['viper','sidewinder'],['shield']]

            shield
viper            5
sidewinder       8

In [52]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [59]:
df.loc[['viper','sidewinder'],['max_speed']]=90

In [60]:
df

            max_speed  shield
cobra               1       2
viper              90       5
sidewinder         90       8

In [62]:
df.loc[['cobra']]=45

In [63]:
df

            max_speed  shield
cobra              45      45
viper              90       5
sidewinder         90       8

In [70]:
df.loc[:,['max_speed']]=1

In [71]:
df

            max_speed  shield
cobra               1      45
viper               1       5
sidewinder          1       8

In [74]:
df.loc[df['shield']>40]

       max_speed  shield
cobra          1      45

In [78]:
df.loc[: , ['max_speed']]=89
df

            max_speed  shield
cobra              89      45
viper              89       5
sidewinder         89       8

In [80]:
df=pd.DataFrame([[1,2],[3,4],[8,9]],
               index=[7,8,9],columns=['max_speed','shield'])
df

   max_speed  shield
7          1       2
8          3       4
9          8       9

In [83]:
df.loc[[7:9]]

SyntaxError: invalid syntax (1443986264.py, line 1)

In [84]:
df.loc[7:9]

   max_speed  shield
7          1       2
8          3       4
9          8       9

In [85]:
tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')
]
index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [98]:
df.loc['cobra']

         max_speed  shield
mark i          12       2
mark ii          0       4

In [97]:
df.loc[('cobra','mark i')]

max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

In [99]:
df.loc['cobra','mark i']

max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

In [100]:
df.loc[[('cobra','mark i')]]

              max_speed  shield
cobra mark i         12       2

In [101]:
df.loc[('cobra', 'mark i'):('viper', 'mark ii')]

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

## Iloc

In [103]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [108]:
df.iloc[[0]]

   a  b  c  d
0  1  2  3  4

In [109]:
df.iloc[[0,1]]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [112]:
pd.DataFrame([[1,2,3],[4,5,6]] , index=[0,1] , columns=['a','b','c'])

   a  b  c
0  1  2  3
1  4  5  6

In [117]:
# find index level 
df.iloc[lambda x:x.index %2==0]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [118]:
df.iloc[0,1]

2