In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a': [1, 2] * 3,
                   'b': [True, False] * 3,
                   'c': [1.0, 2.0] * 3})

In [3]:
df

   a      b    c
0  1   True  1.0
1  2  False  2.0
2  1   True  1.0
3  2  False  2.0
4  1   True  1.0
5  2  False  2.0

In [8]:
df.select_dtypes(include='int')

   a
0  1
1  2
2  1
3  2
4  1
5  2

In [9]:
df.dtypes

a      int64
b       bool
c    float64
dtype: object

In [10]:
df.values

array([[1, True, 1.0],
       [2, False, 2.0],
       [1, True, 1.0],
       [2, False, 2.0],
       [1, True, 1.0],
       [2, False, 2.0]], dtype=object)

In [15]:
pd.DataFrame([('a',80 ,'sec') , ('c',90 ,'ghj') ,('f',np.nan,'90')]
             , columns=('y','p','l'))

   y     p    l
0  a  80.0  sec
1  c  90.0  ghj
2  f   NaN   90

In [20]:
df = pd.DataFrame({'col1': [1, 9,7], 'col2': [3, 4,9] ,'col3':[6,9,4]})
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['col1', 'col2', 'col3'], dtype='object')]

In [59]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.],
                  'Max de': [390., 350., 30., 20.]},
                  index=index)   
df

                Max Speed  Max de
Animal Type
Falcon Captive      390.0   390.0
       Wild         350.0   350.0
Parrot Captive       30.0    30.0
       Wild          20.0    20.0

In [62]:
df.groupby('Animal')[['Max Speed','Max de']].sum().reset_index()

   Animal  Max Speed  Max de
0  Falcon      740.0   740.0
1  Parrot       50.0    50.0

In [66]:
df.groupby(level=0).sum()

        Max Speed  Max de
Animal
Falcon      740.0   740.0
Parrot       50.0    50.0

In [68]:
gr=df.groupby('Animal')
gr

In [73]:
gr.get_group('Falcon')

                Max Speed  Max de
Animal Type
Falcon Captive      390.0   390.0
       Wild         350.0   350.0

In [44]:
arrays=[['a','a','c','c'],['e','e','f','f']]
index=pd.MultiIndex.from_arrays(arrays,names=('m1','m2'))
df=pd.DataFrame({'speed1':[10,20,30,40] ,'speed2':[50,60,70,80]} ,  index=index )
df

       speed1  speed2
m1 m2
a  e       10      50
   e       20      60
c  f       30      70
   f       40      80

In [43]:
df.groupby(['m2'])['speed1'].sum()

m2
e    40
f    60
Name: speed1, dtype: int64

In [35]:
df.groupby(level=1).sum()

    speed1  speed2
m2
a       30     110
c       70     150

In [1]:
import pandas as pd